@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');
@import url('https://cobermr.github.io/LibGuides/icons/icomoon.css');

/* ------- Variables ------- */

:root {
  /* Colors */
  --darkest-gray: #212529;
  --darker-gray: #343A40;
  --dark-gray: #555555;
  --medium-gray: #696969;
  --lighter-gray: #dee2e6;
  --light-gray: #dddddd;
  --med-light-gray: #bbbbbb;
  --bg-gray: #f5f5f5;
  --gray-border: #dee2e6;
  --darkest-red: #6f0700;
  --dark-red: #880f07;
  --red: #b1160b;
  --light-red: #ffebeb;
  --white: #ffffff;
  --black: #000000;
  --blue: #0c63e4;
  --blue-bg: #e7f1ff;

  /* Fonts */
  --font: Poppins,Helvetica,"sans-serif";
  --fs-xxs: .75rem; /* 12px */
  --fs-xs: .88rem; /* 14px */
  --fs-sm: 1rem; /* 16px */
  --fs-md: 1.13rem; /* 18px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-xl: 2.25rem; /* 36px */
  --fs-xxl: 3rem; /* 48px */

  /* Animations */
  --anim-fade: .15s ease-in-out;
  --anim-arrow: all .5s ease;
  --anim-arrow-fast: 0.2s ease-in;
}

/* ------- General, Text, Links & Buttons ------- */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font) !important;
}
p {
  line-height: 1.6em;
}
a:not(.btn) {
  font-weight: 600 !important;
}
a:hover {
  color: #000;
}
a, a:hover, btn, btn:hover {
    transition: var(--anim-fade) !important;
}
.btn-primary, .btn-secondary {
  color: #fff !important
}
.btn-outline-primary {
  border: 1px solid var(--red) !important;
  color: var(--red) !important;
}
.btn-outline-primary:hover {
  background-color: var(--red) !important;
  color: #fff !important;
}
.btn-outline-secondary {
  color: #6c757d !important;
}
.btn-outline-secondary:hover {
  color: #fff !important;
}

/* ------- Headers ------- */

h1, 
h2:not(.accordion-header), 
h3:not(.accordion-header), 
h4:not(.accordion-header), 
h5:not(.accordion-header) {
  font-family: var(--font);
  color: var(--dark-gray) !important;
  font-weight: 700 !important;
  margin-top: 10px;
}
h2, .h2 {
  font-size: var(--fs-xl);
  padding: 10px 0;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 10px;
}
.h3, h3 {
  font-size: 1.5rem !important;
}
.h4, h4 {
  font-size: 1.25rem !important;
}
.h5, h5 {
  font-size: 1rem !important;
}
h4, h5 {
  margin-top: 1.5rem !important;
}


/* ------- Navigation ------- */

/* Hours */
.hours-today {

}
.hours-col-loc {
  display: none;
}
.hours-col-time {
    text-align:right;
}
.s-lc-w-today .s-lc-w-time {
  font-weight: normal;
  text-align: right;
}

/* Mega Menus */
.dropdown-menu.megamenu {
    background-color: #343a40 !important;
    margin-top: 0px;
    border-radius: 0px 0px 6px 6px;
    font-weight: 500;
}
.megamenu.dividers .megamenu-col {
    padding: 24px;
    border-inline-start: 0px !important;
}
.dropdown-menu.megamenu .dropdown-header {
    font-size: 11px !important;
    color: #ccc !important;
    letter-spacing: 1px;
    font-weight: 600 !important;
    text-transform: uppercase;
    border-bottom: 1px solid var(--darkest-gray);
}
.dropdown-menu.megamenu .dropdown-item {
    color: #fff !important;
    padding: 8px 16px;
}
.dropdown-menu.megamenu .dropdown-item:hover {
    background-color: #000 !important;
}

/* ------- Page Title ------- */
.page-title {
    color: #fff !important;
    background-color: rgba(31,31,31,.9);
    font-size: var(--fs-xl);
    font-weight: 400 !important;
}

/* ------- Accordions ------- */
.accordion-button {
  font-weight: 600 !important;
  color: #000 !important;
}
.accordion-button:hover {
  background: #f5f5f5 !important;
}
.accordion-button:not(.collapsed) {
  background-color: #f5f5f5;
}

/* ------- Misc ------- */
.lt-cookie-banner-popover-button {
  background-color: #212529 !important;
  border-color: #212529 !important;
  border-radius: 0 6px 0 0 !important;
  font-size: 12px !important;
}
.s-lch-widget-float {
  z-index: 2000 !important;
}

/* ---------------------- Media Queries -------------------- */

/* -------------- Small devices (landscape phones, 576px and up) -------------- */
@media (min-width: 576px) {
  
}

/* -------------- Medium devices (tablets, 768px and up) -------------- */
@media (min-width: 768px) {

/* ------- Banners ------- */
.page-title {
    font-size: var(--fs-xxl);
    width: fit-content;
}

}

/* -------------- Large devices (desktops, 992px and up) -------------- */
@media (min-width: 992px) {

}

/* -------------- X-Large devices (large desktops, 1200px and up) -------------- */
@media (min-width: 1200px) {

}

/* -------------- XX-Large devices (larger desktops, 1400px and up) -------------- */
@media (min-width: 1400px) {
  
}

/* -------------- Large devices AND SMALLER (desktops, 992px and down) -------------- */
@media (max-width: 1400px) {
.w-75, .w-50 {
    width: 100% !important;
}

/* -------------- Medium devices AND SMALLER (desktops, 992px and down) -------------- */
@media (max-width: 576px) {
.btn {
    display: block !important;
}
.embla__slide__caption {
  display: none !important;
}
}